node_modules/
.idea/
.vscode/
.gitignore
.npmignore
.eslintrc.js
.eslintignore
.prettierrc.js
.prettierignore
.editorconfig
.gitattributes
.travis.yml
.npmrc
.yarnrc
.yarn-integrity
.yarn-metadata.json
.yarn-offline-mirror-metadata.json
.yarn-offline-mirror
vite-plugin-utools-plugin-1.0.0.tgz
